header {
  display: flex;
  justify-content: space-between;

  padding: 8px 16px;

  box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.1);
}

.main-logo {
  width: 200px;
  height: auto;

  margin: 16px 0 16px 80px;
}
